#titulo {
  position: absolute;
  top: 35px;
  left: 175px;
  background:rgb(252, 177, 93);
  font-size: 100px;
}

#boton1 {
  position: absolute;
  top: 220px;
  left: 500px;
  background:black;
   font-size: 40px;
}

#boton2 {
  position: absolute;
  top: 370px;
  left: 395px;
  background:black;
   font-size: 40px;
}

#boton3 {
  position: absolute;
  top: 520px;
  left: 475px;
  background:black;
   font-size: 40px;
}

#boton4 {
  position: absolute;
  top: 20px;
  left: 25px;
  background:black;
   font-size: 18px;
}


h1{
	font-family: cursive;
}