<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/CSS/misprimerosestilos9.css}" rel="stylesheet">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color:#FCB15D;">

	<div class=container my-5>
		<div class="card-body">
			<h1 class="display-1">Reporte de Productos</h1>
		</div>
	</div>

	<div class=container my-5>
		<div class="card-body">

			<form th:action="@{/reportes/buscarProductos}" th:object="${producto}" method="get">
				<table class="table-primary">
					<tr>
						<td>
							<label class="col-form-label">Ingresar la categoría:</label>
						</td>

						<td>

							<select class="form-select" aria-label="Default select example" name="categorias" id="lang"
								, th:field="*{categoria}">
								<option value="ABARROTES">Abarrotes</option>
								<option value="ENLATADOS">Enlatados</option>
								<option value="LACTEOS">Lacteos</option>
								<option value="CONFITERIA">Confitería</option>
								<option value="BEBIDAS">Bebidas</option>
								<option value="BEBIDAS ALCOHOLICAS">Bebidas Alcohólicas</option>
								<option value="ALIMENTOS PREPARADOS">Alimentos Preparados</option>
								<option value="AUTOMEDICACION">Automedicación</option>
								<option value="HIGIENE PERSONAL">Higiene Personal</option>
								<option value="USO DOMESTICO">Uso Doméstico</option>
								<option value="OTROS">Otros</option>
							</select>
						</td>

					</tr>
					<td>
						<input type="submit" class="btn btn-dark" value="Buscar">
					</td>

					<div th:classappend="'alert'" th:if="${error != null}" th:text="${error}" class="alert" id="error">
					</div>

					<div th:classappend="'alert'" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"
						id="mensaje">
					</div>

				</table>

			</form>

		</div>
	</div>
	<div class=container my-5>
		<div class="card-body">
			<table class="table table-bordered" id=tabla1>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Código</th>
						<th>Descripción</th>
						<th>Valor de compra</th>
						<th>Valor de venta</th>
						<th>Stock</th>
						<th>Proveedor</th>
						<th>Eliminar</th>
						<th>Actualizar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto, iterador : ${productos}">
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.codigoBarras}"></td>
						<td th:text="${producto.descripcion}"></td>
						<td th:text="${producto.costoBruto}"></td>
						<td th:text="${producto.valorVenta}"></td>
						<td th:text="${producto.cantidad}"></td>
						<td th:text="${producto.proveedor.nombreEmpresa}"></td>
						<td>
							<form th:action="@{/reportes/borrarProducto/{id}(id=${producto.id})}" th:method="delete" ,
								th:object=${producto}>
								<input type="submit" class="btn btn-dark" value="Eliminar" , id=bot1>
								</button>
							</form>
						</td>
						<td>
							<form th:action="@{/reportes/actualizacionProducto/{id}(id=${producto.id})}" th:method="get"
								, th:object=${producto}>
								<input type="submit" class="btn btn-dark" value="Actualizar" , id=bot1>
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	
	<div class=container my-5>
		<div class="card-body" id="cuatro">
			<table class="table-primary">
				<tr>
					<form th:action="@{/inventario/GestionProductos}" th:method="get">
						<input type="submit" class="btn btn-dark" id="boton4" value="<< Gestión Productos">
					</form>
				</tr>
			</table>

		</div>
	</div>
</body>

</html>